.main{
	text-transform:uppercase;
	color:#003948;
	text-align: center;
	font-weight: bold;
}
.imptext{
	text-transform:uppercase;
	color:#003948;
	text-align: justify;
	font-family: serif, Helvetica, sans-serif;
	letter-spacing: 0.5px;
	line-height: 2;
	font-size: 17px;
}
body{
  background: linear-gradient(to top, #666699 0%, #33cccc 100%);
}

footer{
  background: linear-gradient(to top, #666699 0%, #33cccc 100%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.link{
  font-style: italic;
}