.main{
	text-transform:uppercase;
	color:#003948;
	text-align: center;
	font-weight: bold;
}
.imptext{
	text-transform:uppercase;
	color:#003948;
	text-align: justify;
	font-family: serif, Helvetica, sans-serif;
	letter-spacing: 0.5px;
	line-height: 2;
	font-size: 17px;
}
body{
  background: linear-gradient(to top, #666699 0%, #33cccc 100%);
}

footer{
  background: linear-gradient(to top, #666699 0%, #33cccc 100%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.link{
  font-style: italic;
}
.dhta{
  margin: 0 0 0 15px;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}